<div class="accordion has-clone shadow">
  <button class="accordion-header" data-accordion>
    <h4 class="flex items-center justify-center">
      <div class="inline-block mr-3">
        <img class="svg-inline" class="inline-block mr-3" src="images/star-black.svg">
      </div>
      @@title
    </h4>
    <div class="accordion-icon">
      <img class="svg-inline" src="images/plus-icon.svg">
      <img class="svg-inline" src="images/minus-icon.svg">
    </div>
  </button>
  <div class="accordion-content">
    <div class="pb-10 pl-12 pr-14 capitalize">
      <p class="mb-8">Lorem ipsum dolor sit amet sites tetur adipiscing elit sed do smod tempodolor sit amet sites
        tetur
        adipiscing
        elit sed tetur de parsa adipiscing do smod incidi.Lorem ipsum dolor sit amet sites tetur adipiscing elit sed do
        smod tempodolor sit amet sites tetur lebuni
      </p>
      <p> adipiscing elit sed tetur adipiscing do smod incidi.Lorem ipsum dolor sit amet sites. Lorem ipsum dolor sit
        amet
        sites tetur adipi scing elit sed do smod tempodolor sit amet sites tetur adipiscing elit sed tetur adipiscing do
        smod incidi.Lorem ipsum dolor sit amet sites tetur adipiscing elit sed do smod tempodolor sit amet sites tetur
        adipiscing elit sed tetur adipiscing do dolor sit amet sites.</p>
    </div>
  </div>
</div>