<button data-modal-open
  class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 rounded-sm bg-primary px-[35px] py-3 text-dark shadow-[1px_1px_0px_10px] shadow-primary/50 lg:px-[4.525rem] lg:py-7">
  <svg width="30" height="34" viewBox="0 0 30 34" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M28.6501 15.18C29.9834 15.9498 29.9834 17.8743 28.6501 18.6441L3.96614 32.8953C2.63281 33.6651 0.966145 32.7029 0.966145 31.1633L0.966146 2.66073C0.966146 1.12113 2.63281 0.158883 3.96615 0.928684L28.6501 15.18Z"
      fill="currentColor" />
  </svg>
</button>
<div class="absolute left-0 top-0 z-30 hidden h-full w-full overflow-hidden rounded-2xl">
  <iframe src="https://www.youtube.com/embed/hesv-etwK_o?autoplay=1&mute=1" class="h-full w-full"
    allowfullscreen></iframe>
</div>